body{
  background-color: rgb(245,250,255);
  font-family: sans-serif;
}

h1{
  font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;
	background-color: rgb(130,130,130);
}

.jumbotron{
	padding-top: 20px;
  border: 2px solid rgb(230,230,230);
  background-color: rgb(255,255,255);
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.nav-tabs{
	margin-top: -25px;
  margin-bottom: 25px;
}

.calculator{
  /* margin: 0 auto; */
  max-width: 330px;
}

#slider{
  margin-top: 10px;
}

#calcResultsBox{
  font-size: 1.1em;
}

#calcResultsBox td{
  padding: 0 7px;
}

.openCloseButtons{
  background-color: rgba(0,0,0,0);
  border: 0px;
  font-size: 0.75em;
}

.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}